<div class="app-container">
    <div class="top-bar">
        <div class="menu-section">
            <a class="menu-link" routerLink="/home">Home</a>
            <a class="menu-link" routerLink="/about-da2">About DA2</a>
            <a class="menu-link" routerLink="/team">Our Team</a>
            <a class="menu-link" routerLink="/project">Project</a>
            <div class="menu-dropdown">
                <div class="menu-title">Services</div>
                <div class="menu-content">
                    <a routerLink="/manager">Manager</a>
                    <a routerLink="/admin">Admin</a>
                    <a routerLink="/maintenance">Maintenance</a>
                    <a routerLink="/invitation">Invitations</a>
                </div>
            </div>
        </div>
        <div class="auth-buttons">
            <button class="login-button" routerLink="/login">Log In</button>
            <button class="auth-button" routerLink="/join">Join For Free</button>
        </div>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>Streamline Building Management</h1>
            <p>Discover the power of Obligatorio DA2, your central hub for all building operations. Manage tasks,
                coordinate efforts, and stay updated—all in one place.</p>
        </div>
        <img src="../../../assets/home_circles.png" alt="Centered Image" class="centered-image">
        <div class="image-circles">
            <img src="../../../assets/light_bulb.png" alt="Feature 1" class="circle-image">
            <img src="../../../assets/roof.png" alt="Feature 2" class="circle-image">
            <img src="../../../assets/faucet.png" alt="Feature 3" class="circle-image">
            <img src="../../../assets/bathoorm.png" alt="Feature 4" class="circle-image">
        </div>
    </div>
</div>